.chapter(data-title='IVR Phone Tree')
  .step(data-file='IVRPhoneTree.Web/packages.config')
    :markdown
      ## About this application

      ![Extra Terrestrial Phone Home
      Service](http://howtodocs.s3.amazonaws.com/logo-et-phone2.png)
